In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

In [2]:
file_path = './houses.csv'

In [3]:
data = pd.read_csv(file_path)

In [4]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [5]:
features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = data[features]
X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [6]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

In [7]:
y = data.Price

In [8]:
train_X, val_X, train_y, val_y = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [9]:
train_X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  10864.000000  10864.000000   10864.000000  10864.000000  10864.000000
mean       2.941458      1.535162     565.872423    -37.809911    144.995053
std        0.961697      0.692709    4382.784066      0.079467      0.103625
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     178.000000    -37.857300    144.929667
50%        3.000000      1.000000     440.000000    -37.802465    145.000200
75%        4.000000      2.000000     650.250000    -37.757172    145.057518
max       10.000000      8.000000  433014.000000    -37.408530    145.482730

In [10]:
val_X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  2716.000000  2716.000000   2716.000000  2716.000000  2716.000000
mean      2.924153     1.530560    528.590943   -37.806372   144.995868
std       0.931617     0.687822   1671.270666     0.078376     0.105085
min       1.000000     0.000000      0.000000   -38.164040   144.557840
25%       2.000000     1.000000    172.000000   -37.855200   144.929150
50%       3.000000     1.000000    444.000000   -37.802050   144.999500
75%       3.000000     2.000000    652.000000   -37.754080   145.059955
max       8.000000     7.000000  76000.000000   -37.496740   145.526350

In [11]:
model = DecisionTreeRegressor()

In [12]:
model.fit(train_X, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [13]:
print(model.predict(X))

[1480000. 1035000. 1465000. ... 1170000. 2500000. 1005000.]

In [14]:
val_predictions = model.predict(val_X)

In [15]:
print(mean_absolute_error(val_y, val_predictions))

243136.9358124693

In [16]:
# compare same model with different parameters ... for example max leaf nodes in Decision tree ...
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [17]:
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]
# A loop to find the ideal tree size from candidate_max_leaf_nodes
for max_leaf_nodes in candidate_max_leaf_nodes:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  348049
Max leaf nodes: 25  		 Mean Absolute Error:  283302
Max leaf nodes: 40  		 Mean Absolute Error:  272336
Max leaf nodes: 100  		 Mean Absolute Error:  242797
Max leaf nodes: 250  		 Mean Absolute Error:  227321
Max leaf nodes: 500  		 Mean Absolute Error:  222263